.first {
  /* border: 1px solid blue; */
  display: flex;
  min-width: 40px;
}

.first img {
  width: 20px;
}

.value {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.second {
  /* border: 1px solid rgb(43, 189, 233); */
  line-height: 1.5;
}
