.biographyContaier{
    /* border: 2px solid rgb(73, 237, 36); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.biographyContaier p:first-child{
    margin-bottom: 15px;
}

.biographyContaier li{
    margin: 0 0 8px;
}

.first{
    /* border: 1px solid rgb(27, 30, 243); */
    min-width: 100px;
    font-weight: 700;
    display: inline-block;
}

.second{
    /* border: 1px solid rgb(27, 243, 239); */
}
