.contactsBlock{
    min-height: 100vh;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactsContainer{
    flex-direction: column;
    gap: 100px;
}

.title{
    background-color: khaki;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    min-width: 30%;
}

.textarea{
    min-height: 50px;
}