.nav{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    padding-left: 8vh;
    flex-wrap: wrap;
    font-family: "Poppins";
}

.link{
    text-decoration: none;
    padding: 8px 30px;
    display: inline-block;
    font-weight: 500;
    color: #333;
}

.link:hover{
    background-color: #333;
    color: #fff;
}

.activeLink{
    background-color: #333;
    color: #fff;
}

@media (max-width: 584px) {
    .link{
        padding: 4px 10px;
    }
    .nav{
        padding-right: 20px;
    }
  }