.project {
  min-height: 20vw;
  min-width: 20vw;
}

.imgContainer {
  /* border: 1px solid blueviolet; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.more {
  background-color: rgb(189, 184, 184);
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px;
  opacity: 50%;
}

.more:hover {
  opacity: 25%;
}

.details {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  width: 90%;
  margin-bottom: 20px;
  padding: 15px;
}

.details h3 {
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: 600;
  color: #333;
  line-height: 1.2;
}

.details span {
  font-size: 14px;
}

@media (max-width: 768px) {
  .project {
    min-height: 91vw;
    min-width: 91vw;
  }
}

@media (max-width: 1040px) {
  .project {
    width: 40vw;
    height: 40vw;
  }
}
