@import "../common/styles/sass/variables.scss";

.photoContainer {
  width: 40%;
  height: 84vh;
  background-color: $bgColor;
  background-image: url("../assets/images/monica.jpg");
  background-size: cover;
  @media (max-width: 1040px) {
    width: 0px;
    height: 0px;
    background-image: none;
  }
}
