.skillsBlock{
    min-height: 100vh;
    background-color: rgb(198, 240, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.skills{
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.title{
    background-color: azure;
}