.contactsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  /* border: 1px solid rgb(234, 49, 187); */
  width: 240px;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.07);
  height: 100px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item:last-of-type {
  margin-bottom: 0;
}

.right {
  /* border: 1px solid green; */
  width: 50%;
}

.form textarea,
.form input {
  background-color: transparent;
  letter-spacing: 1.4px;
  line-height: 1.6;
  font-family: poppins;
  padding: 10px;
}

.form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 30%;
}

.form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 44px;
}

.form input:last-of-type {
  margin: 0 0 30px;
}

.form textarea {
  border: 1px solid rgba(0, 0, 0, 0.07);
  height: 120px;
  resize: none;
  margin-bottom: 30px;
}

.form textarea:focus,
.form input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c6c5c8;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c6c5c8;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c6c5c8;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c6c5c8;
}

.form button {
  background-color: #333;
  color: #fff;
  padding: 13px 38px;
  border: 2px solid #333;
  font-weight: 500;
  align-self: start;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins";
}

.form button:hover {
  background-color: transparent;
  color: #333;
}

@media (max-width: 1500px) {
  .contactsWrapper {
    justify-content: center;
  }

  .right {
    width: 100%;
    margin-top: 30px;
  }

  .left {
    width: 100%;
  }
}
