.project{
    width: 250px;
    background-color: rgb(244, 246, 225);
}

.imgContainer{
    width: 250px;
    height: 200px;
    background-image: url('../../logo.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more{
    background-color: darkseagreen;
    padding: 5px;
}

.title{
    background-color: hsl(306, 45%, 91%);
}

.text{
    background-color: hsl(135, 50%, 89%);
}

