@import './variables.scss';

@mixin text($fontFamily,  $fontWeight:400, $fontSize:16px, $lineHeight:1.7, $color:$textColor) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}


@mixin flex($display:flex, $justifyContent:center, $alignItems:center) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
}