.projectsBlock{
    min-height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsContainer{
    flex-direction: column;
}

.title{
    background-color: rgb(240, 228, 228);
}

.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid;
}